[submodule "hangman-classic"]
	path = hangman-classic
	url = https://github.com/RodolpheANDRIEUX/hangman-classic.git
[submodule "hangman-classic-game"]
	path = hangman-classic-game
	url = https://gitlab.com/florian-alb/hangman-classic-game
