#difficultyForm {
    z-index: 100;
    text-align: center;
    position: fixed;
    top: 60vh;
}
#difficultySelectors {
    width: 100vw;
    color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.CustomButton{
    font-size: 30px;
    cursor: pointer;
    margin: 30px;
    display: flex;
    transition: .5s;
}
.CustomButton:hover {
    text-decoration-line: underline;
    scale: 1.2;
}
.HitboxCircle:checked ~ .difficulty {
    color: #aa0000;
}
.HitboxCircle{
    display: none;
}