#difficultyForm {
    z-index: 100;
    text-align: center;
    position: absolute;
    bottom: 20%;
}

#difficultySelectors {
    width: 100vw;
    color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    #difficultySelectors{
        flex-direction: column;
    }
    .CustomButton{
        margin: 1rem;
        font-size: 25px;
    }
}

.CustomButton{
    font-size: 30px;
    cursor: pointer;
    margin: 30px;
    display: flex;
    transition: .5s;
}
.CustomButton:hover {
    text-decoration-line: underline;
    scale: 1.2;
}
.HitboxCircle:checked ~ .difficulty {
    color: #aa0000;
}
.HitboxCircle{
    display: none;
}