#debug{
    position: fixed;
    top: 0;
    left: 0;
}

#error_text{
    color: red;
}

#hangman_word{
    letter-spacing: 4rem;
    translate: 2rem;
}

#success_text{
    color: green;
}

.column{
    position: fixed;
    /*border: green dashed;*/
    text-align: center;
}

.SubColumn{
    /*border: blue dashed;*/
    justify-content: center;
    text-align: center;
}

#word{
    font-size: 2rem;
    transition: .5s;
}

#Inputs{
    left: 50%;
    top: 55%;
    translate: -50%;
    transition: .5s;
}

#LettersSuggested{
    display: flex;
    margin: 65px 0 0 0;
}

.wrongLetter{
    /*border: red dashed;*/
    color: red;
    font-size: 1.5rem;
    margin: 0 10px 0 10px;
    animation: fadeIn 3s;
    text-align: center;
}

@keyframes fadeIn {
    from{opacity: 0}
    to{opacity: 1}
}

#letter-input{
    width: 250px;
    padding: 0 0 0 30px;
}

.form-hangman input[type="submit"] {
    background: #ff0000;
    color: #fff;
    cursor: pointer;
    transition: all .2s;
    width: 50px;
}

.form-hangman input[type="submit"]:hover {
    background: #aa0000;
}

.form-hangman{
    display: flex;
    text-align: center;
    justify-content: center;
}

.form-hangman > * {
    border: 0;
    background: #ffffff40;
    line-height: 50px;
    font-size: 1rem;
    border-radius: 0;
    outline: 0;
}

#error_text{
    padding: 0;
    width: 100%;
    left: 0;
    margin: 0;
    /*border: pink dashed;*/
    position: absolute;
    font-size: .8rem;
    animation: fadeIn 3s;
}

#hangmanState img{
    height: 100%;
    vertical-align: center;
}

#hangmanState {
    height: 30%;
    top: 20%;
}

.button_play_again{
    text-align: center;
    color: white;
    background: #303030;
    padding: 10px 20px;
    font-family: "druktextwide-med", fantasy;
    border-radius: 5%;
    justify-content: center;
    cursor: pointer;
}

