#debug{
    position: fixed;
    top: 0;
    left: 0;
}

#error_text{
    color: red;
}

/*#word{*/
/*    font-size: 2rem;*/
/*    !*transition: .5s;*!*/
/*}*/

.hangman_word{
    letter-spacing: 4rem;
    translate: 2rem;
    font-size: 2rem;
    /*transition: .5s;*/
}

.shake{
    animation: shake 500ms 2;
}

@keyframes shake {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}

#success_text{
    color: green;
}

.column{
    position: fixed;
    /*border: green dashed;*/
    text-align: center;
    display: grid;
    justify-items: center;
}

.sub_column{
    /*border: blue dashed;*/
    text-align: center;
}

.inline_element{
    display: flex;
    justify-content: center;
}

#Inputs{
    left: 50%;
    top: 55%;
    translate: -50%;
    /*transition: .5s;*/
}

#LettersSuggested{
    display: flex;
    margin: 65px 0 0 0;
}

.wrongLetter{
    /*border: red dashed;*/
    color: red;
    font-size: 1.5rem;
    margin: 0 10px 0 10px;
    animation: fadeIn 3s;
    text-align: center;
}

@keyframes fadeIn {
    from{opacity: 0}
    to{opacity: 1}
}

#letter_input{
    width: 250px;
    padding: 0 0 0 30px;
}

.form-hangman input[type="submit"] {
    background: #ff0000;
    color: #fff;
    cursor: pointer;
    transition: all .2s;
    width: 50px;
}

.form-hangman input[type="submit"]:hover {
    background: #aa0000;
}

.form-hangman{
    display: flex;
    text-align: center;
    justify-content: center;
}

.form-hangman > * {
    border: 0;
    background: #ffffff40;
    line-height: 50px;
    font-size: 1rem;
    border-radius: 0;
    outline: 0;

    margin-bottom: 1rem;
}

#error_text{
    padding: 0;
    width: 100%;
    left: 0;
    margin: 0;
    /*border: pink dashed;*/
    position: absolute;
    font-size: .8rem;
    animation: fadeIn 3s;
}

.column img{
    height: 100%;
    vertical-align: center;
    overflow: auto;
}

#hangmanState {
    height: 30%;
    top: 30vh;
    border: red dashed;
}

#guyRunning{
    height: 30%;
    top: 30vh;
    right: 10vw;
    border: green dashed;
}

@media only screen and (max-width: 750px) {
    #hangmanState {
        translate: 50% !important;
        right: 50%;
    }
}

.button_play_again{
    text-align: center;
    color: white;
    background: #303030;
    padding: 0.8rem 0;
    font-family: "druktextwide-med", fantasy;
    border-radius: 5%;
    justify-content: center;
    margin: 0 0.5rem;
}

.button_play_again:hover{
    background-color: rgba(250, 234, 214, 0.4);
}

.button_play_again label{
    padding: 0.8rem 1.8rem;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .hangman_word{
        letter-spacing: 1rem;
        /*translate: .5rem;*/
        font-size: 1.5rem;
    }
    .CustomButton{
        margin: 1rem;
        font-size: 25px;
    }

    .button_play_again label{
        padding: 2px;
    }
    .button_play_again{
        padding-left: 10px;
        padding-right: 10px;
    }
}