
#error_text{
    color: red;
}

#hangman_word{
    letter-spacing: 10px;
}

#success_text{
    color: green;
}

.container{
    height: 100vh;
    display: flex;
    max-width: 1000px;
    align-items: center;
    margin: auto;
}

.column{
    width: 33%;
    margin: 0 20px;
    background: darkgray;
    text-align: center;
    padding: 10px;
}

.hangman_state img{
    max-width: 200px;
}

