.content {
    margin-bottom: 15vh;
    display: grid;
    place-items: center;
}

input[type="submit"]:hover{
    background: #000000;
}

input[type="text"], input[type="password"] {
    border: 0;
    border-radius: 2px;
    height: 20px;
}

#container-play-form {
    display: grid;
    justify-items: center;
}

.login_form input, .signup_form input{
    display: flex;
    margin: 10px;
}

.signup_form{
    display: none;
    place-items: center;
    font-size: 1rem;
    margin: 1rem;
}

.signup_opened{
    display: grid;
}

.form_expend{
    width : 20em;
}

.signup_form input{
    display: flex;
    margin: 10px;
}

/*------- Pop Up login form ----------*/

.login-popup{
    position: absolute;
    background-color: #403e3b;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    width: 500px;
    height: 500px;
    box-sizing: border-box;
    transition: all .4s;
    z-index: -1;
    opacity: 0;
    transform: scale(0.4);
    display : grid;
    place-items: center;
    align-content: space-evenly;
}

.login-popup p{
    font-size: 18px;
}

.login-popup.opened{
    transform: scale(1);
    z-index: 999;
    opacity: 1;
}

.close-popup-button{
    position: absolute;
    right: 12px;
    top: 12px;
    font-family: druktextwide-med;
    background: none;
    border: 0;
    font-size: 18px;
    color: white;
    transition: ease 500ms;
}

.close-popup-button:hover{
    transform: scale(1.2);
}
/* ------ bg overlay ------ */

.bg_overlay {
    background: rgba(0, 0, 0, 0.6);
    display: none;
    z-index: -1;
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-transition: background 0.15s linear;
    -o-transition: background 0.15s linear;
    transition: background 0.15s linear;
}

.showed{
    display: grid;
    z-index: 0;
}

/*------- end -------*/

.login_zone{
    display: grid;
    justify-items: center;
}

/*----- encart ------*/


.encart-header {
    text-align: center;
    transition: ease, 500ms;
    color: white;
    font-size: 1.25rem;
    margin: 0.8rem;
    padding: 2rem 0;
    width: 10em;
    background-color: rgba(250, 234, 214, 0.2);
    border-radius: 10%;
    cursor: pointer;
    font-family: "druktextwide-med", fantasy;
    border: 0;
}

.encart-content {
    display: none;
    padding: 10px;
}

.encart-header:hover {
    background-color: #ddd;
}

.encart-header:active {
    background-color: #ccc;
}

#encart-toggle:checked+.encart-header+.encart-content {
    display: block;
}

.encart-content {
    display: none;
    padding: 10px;
}

.encart-header:hover {
    background-color: #ddd;
}

.encart-header:active {
    background-color: #ccc;
}

#encart-toggle{
    visibility: hidden
}

#encart-toggle:checked+.encart-header+.encart-content {
    display: block;
}
