@font-face {
    font-family: 'druktextwide-med';
    src: url("https://cdn.shopify.com/s/files/1/0502/2331/7176/files/Druk-Wide-Medium.woff?v=1623343764") format("woff");
}

@font-face {
    font-family: 'zombie-holocaust';
    src: url("https://cdn.shopify.com/s/files/1/0647/5815/3451/files/Zombie_Holocaust.ttf?v=1673207366") format("truetype");
}



html, body {margin: 0; height: 100%; overflow: hidden}

.hangmanTitle{
    z-index: 0;
    text-align: center;
    position: absolute;
    top : 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hangmanTitle h1 {
    font-size: 8em;
    letter-spacing: 1rem;
    font-family: zombie-holocaust;
    margin: 0;
    animation: appear 3s ease-out;
    color: #aa0000;
}

@keyframes appear {
    0% {transform: translate(0, -30vh)}
    100% {transform: translate(0, 0)}
}

body{
    background: #050101;
    color : white;
    font-family: "druktextwide-med";
}

.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items:flex-end ;
}


.z-index-1000{
    z-index: 1000;
}

.content {
    margin-bottom: 15vh;
    display: grid;
    place-items: center;
}

.button_user{
    text-align: center;
    transition: ease, 500ms;
    color: white;
    font-size: 18px;
    margin: 10px;
    padding: 30px;
    background-color: rgba(250, 234, 214, 0.2);
    border-radius: 10%;
    cursor:pointer;
}

input[type=submit]{
    text-align: center;
    color: white;
    background: #303030;
    padding: 10px 20px;
    font-family: "druktextwide-med";
    border-radius: 5%;
}

input[type=submit]:hover{
    background: #000000;
}

#container-play-form {
    width: 10em;
}

#container-login-form {
    width: 10em;
}

.button_user:hover{
    background-color: rgba(250, 234, 214, 0.4);
}

.login_form, .signup_form{
    transition: ease, 500ms;
/*    display: none;*/
    place-items: center;
}

.login_form input, .signup_form input{
    display: flex;
    margin: 10px;
}

.signup_form{
    display: none;
    place-items: center;
}

.signup_form input{
    display: flex;
    margin: 10px;
}

.moon {
    position: absolute;
    top: 10%;
    right: 10%;
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    background-color: #ffecb4;
    box-shadow: 0 0 50px 0px #ffecb4;
}

/*------- Pop Up login form ----------*/

.popup{
    position: absolute;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 400px;
    box-sizing: border-box;
    transition: all .4s;
    z-index: -1;
    opacity: 0;
    transform: scale(0.4)
}

.popup.opened{
    transform: scale(1);
    z-index: 999;
    opacity: 1;
}

