<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/Assets/Css/game.page.css">
    <link rel="stylesheet" href="/Assets/Css/hangman_state.page.css">
    <title>Difficulty</title>
</head>
<body>

<div class="container" >
    <a href="/play-easy" class="button">EASY</a>
    <a href="/play-medium" class="button">MEDIUM</a>
    <a href="/play-hard" class="button">HARD</a>
</div>

</body>
</html>

<style>
    a.button {
        padding: 20px;
        margin: 10px;
        background: black;
        border-radius: 10%;
        border: 1px solid black;
        color: aliceblue;
        link: none;
        text-decoration: none;
    }

</style>