<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hangman</title>
</head>
<body>

<div class="container">
    <div class="column">
        <h1>Hangman Game</h1>
        <h3 id="error_text">{{.Error}}</h3>
        <h3 id="hangman_word">{{.Word}}</h3>
        <p class="attempts_left">You have {{.Attempts}} left.</p>
    </div>

    <div class="column">
        <p>Letter suggested : {{.Guess}}</p>
        <form action="/hangman" method="POST" class="form-hangman">
            <input class="form-hangman-input" name="Letter" required placeholder="Choose a letter or guess a word">
            <input type="submit" name="Submit" value="Validate 👌" />
        </form>
    </div>

    <div class="column">
        <div class="hangman_state">

        </div>
    </div>
</div>

</body>
</html>