<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/Assets/Css/MainMenu.css">
    <link rel="stylesheet" href="/Assets/Css/gameMenu.css">
    <title>Hangman</title>
</head>
<body>
<H2 class="HangmanTitle">YOU {{.State}}</H2>

<div calass="score_board" style="color: red">
    <ol>
    {{range .Scores}}
        <div class="score-line">
            <p class="name">{{.}}</p>
        </div>
    {{end}}
    </ol>
</div>

<form id="PlayAgainForm" method="post" action="/mainMenu-Play">
    <input class="MenuPlay" type="submit" name="PlayAgain" value="PLAY AGAIN">
</form>

<form id="Logut" method="post" action="/login">
    <input class="MenuPlay" type="submit" name="logout" value="Logout">
</form>


</body>