<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hangman</title>
</head>
<body>

<div class="container">
    <div class="column">
        <h1>Hangman Game</h1>
        <h3 id="hangman_word">{{.Word}}</h3>
        {{ if eq .State "goodGuess" "won"}}
        <h4 id="success_text">{{.Error}}</h4>
        {{ else }}
        <h4 id="error_text">{{.Error}}</h4>
        {{ end }}
    </div>
    <div class="column">
        <p>Letter suggested : {{.Guess}}</p>
        <form action="/hangman" method="POST" class="form-hangman">
            {{ if eq .State "lost" "won" }}
            <input type="submit" name="Replay" value="Play Again ?" />
            {{ else }}
            <input class="form-hangman-input" name="Letter" required autocomplete="off" placeholder="Choose a letter or guess a word">
            <input type="submit" name="Submit" value="Validate 👌" />
            {{ end }}
        </form>
    </div>

    <div class="column">
        <div class="hangman_state">
            {{ if eq .Attempts 1 }}
            <img src="https://cdn.shopify.com/s/files/1/0555/5296/6964/files/Hangman-01.png?v=1668981634" alt="hangman-1">
            {{end}}
            {{ if eq .Attempts 2 }}
            <img src="https://cdn.shopify.com/s/files/1/0555/5296/6964/files/Hangman-02.png?v=1668981634" alt="hangman-2">
            {{end}}
            {{ if eq .Attempts 3 }}
            <img src="https://cdn.shopify.com/s/files/1/0555/5296/6964/files/Hangman-03.png?v=1668981634" alt="hangman-3">
            {{end}}
            {{ if eq .Attempts 4 }}
            <img src="https://cdn.shopify.com/s/files/1/0555/5296/6964/files/Hangman-04.png?v=1668981634" alt="hangman-4">
            {{end}}
            {{ if eq .Attempts 5 }}
            <img src="https://cdn.shopify.com/s/files/1/0555/5296/6964/files/Hangman-05.png?v=1668981634" alt="hangman-5">
            {{end}}
            {{ if eq .Attempts 6 }}
            <img src="https://cdn.shopify.com/s/files/1/0555/5296/6964/files/Hangman-06.png?v=1668981634" alt="hangman-6">
            {{end}}
            {{ if eq .Attempts 7 }}
            <img src="https://cdn.shopify.com/s/files/1/0555/5296/6964/files/Hangman-07.png?v=1668981634" alt="hangman-7">
            {{end}}
            {{ if eq .Attempts 8 }}
            <img src="../Assets/Hangman_images/Hangman-01.png" alt="hangman-1">
            {{end}}
            {{ if eq .Attempts 9 }}
            <img src="../Assets/Hangman_images/Hangman-01.png" alt="hangman-1">
            {{end}}
            {{ if eq .Attempts 10 }}
            <img src="../Assets/Hangman_images/Hangman-01.png" alt="hangman-1">
            {{end}}

        </div>
    </div>
</div>

<style>

    #error_text{
        color: red;
    }

    #hangman_word{
        letter-spacing: 10px;
    }

    #success_text{
        color: green;
    }

    .container{
        height: 100vh;
        display: flex;
        max-width: 1000px;
        align-items: center;
        margin: auto;
    }

    .column{
        width: 33%;
        margin: 0 20px;
        background: darkgray;
        text-align: center;
        padding: 10px;
    }

    .hangman_state img{
        max-width: 200px;
    }


</style>


</body>
</html>