<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/Assets/Css/game.page.css">
    <link rel="stylesheet" href="/Assets/Css/hangman_state.page.css">
    <title>Hangman</title>
</head>
<body>
{{.}}
<div class="container">
    <div class="column">
        <h1>Hangman Game</h1>
        <h3 id="hangman_word">{{.Word}}</h3>
        {{ if eq .State "won"}}
        <h4 id="success_text">{{.Error}}</h4>
        {{ else }}
        <h4 id="error_text">{{.Error}}</h4>
        {{ end }}
    </div>
    <div class="column">
        <p>Letters suggested :
            {{range .Guess}}
            {{.}}
            {{end}}
        </p>
        <form action="/hangman" method="POST" class="form-hangman">
            {{ if eq .State "lost" "won" }}
            <input type="submit" name="Replay" value="Play Again ?" />
            {{ else }}
            <input class="form-hangman-input" autofocus name="Letter" required autocomplete="off" placeholder="Choose a letter or guess a word">
            <input type="submit" name="Submit" value="Validate 👌" />
            {{ end }}
        </form>
    </div>

    <div class="column hangman_state">


        <div id="container-hangman">
            {{ if gt .Attempts 2}}
            <div class="hangman-item" style="width: 35%; position:relative; left: 8%;">
                {{ if gt .Attempts 4}}
                <div id="rope" class="hangman-item">
                    {{ if gt .Attempts 5}}
                    <div id="head" class="hangman-item">
                        {{ if gt .Attempts 6}}
                        <div id="body" class="hangman-item">
                            {{ if gt .Attempts 7}}
                            <div id="arms" class="hangman-item"></div>
                            {{end}}
                            {{ if gt .Attempts 8}}
                            <div class="hangman-item leg" id="leg-left"></div>
                            {{end}}
                            {{ if gt .Attempts 9}}
                            <div class="hangman-item leg" id="leg-right"></div>
                            {{end}}
                        </div>
                        {{end}}
                    </div>
                    {{end}}
                </div>
                {{end}}
            </div>
            {{end}}
            {{ if gt .Attempts 1}}
            <div id="trunc" class="hangman-item" style="height: 50vh;width:0px;">
                {{ if gt .Attempts 3}}
                <div class="hangman-item" style="transform: rotate(45deg); position:relative; top: -20px; left: 35px;height: 100px;"></div>
                {{end}}
            </div>
            {{ end }}
            {{ if gt .Attempts 0}}
            <div id="base" style="width: 50%" class="hangman-item"></div>
            {{end}}
        </div>


    </div>
</div>


</body>
</html>