<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hangman</title>
</head>
<body>
<h1>MAIN MENU</h1>

<form action="/mainMenu-Play">
    <label for="difficulty">Choose a car:</label>
    <select name="difficulty" id="difficulty" required>
        <option value="">Choose your difficulty</option>
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
        <option value="impossible">Impossible</option>
    </select>
    <br><br>
    <input type="submit" value="PLAY">
</form>


</body>