<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/Assets/Css/MainMenu.css">
    <title>Hangman</title>
</head>
<body>
<div id="HangmanTitle">HANGMAN</div>
<div id="MainMenuTitle">MAIN MENU</div>

<form id="difficultyForm" action="/mainMenu-Play" method="post">
    <div id="difficultySelectors">
    <label class="CustomButton" for="easy">
        <input class="HitboxCircle" type="radio" id="easy" name="difficulty" value="easy">
        <span class="difficulty">Easy</span>
    </label>

    <label class="CustomButton" for="medium">
        <input class="HitboxCircle" type="radio" id="medium" name="difficulty" value="medium">
        <span class="difficulty">Medium</span>
    </label>

    <label class="CustomButton" for="hard">
        <input class="HitboxCircle" type="radio" id="hard" name="difficulty" value="hard">
        <span class="difficulty">Hard</span>
    </label>
    </div>
    <input id="MenuPlay" type="submit" value="PLAY">
</form>


</body>